* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 1rem;
}

:root {
    --black: black;
    --white: white;
    --gray: gray;
    --violet: rgb(133, 123, 242);
    --mw: 1080px;
    --mw_child: 800px;
    --gray_opacity: rgba(128, 128, 128, 0.099);
}

.link_edit {
    text-decoration: none;
    color: var(--black);
}
